<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: black;">
    <header style="background-color: blueviolet;">
        {% load static %}
        <a href="{% url 'home:index' %}">
            <img class = "pic" style="margin-top:0.5%;">

        </a>

    </header>
    
</body>
</html>